.Details {
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2px;
    border-radius: 15px;
    width: 40%;
}

.Details .sub {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.Details ul {
    list-style: none;
}

.Details img {
    transform: scale(1.2);
}
