
#exercise-1 {
    animation: slide 3s;
    animation-delay: 1s;
}


#exercise-2 {
    animation: slide 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#exercise-3 {
    animation: slide 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#exercise-4:hover {
    animation: slide 5s;
}

#section-5:hover #exercise-5 {
    animation: slide 1s;
}

#exercise-6-square:hover ~ #exercise-6 {
    animation: slide2 5s;
}

#exercise-7 {
    animation: resize 10s;
    animation-iteration-count: infinite;
}

#exercise-8 {
    animation: changeColor 4s;
}

#exercise-9 {
    animation: changeColor2 4s alternate-reverse;
    animation-iteration-count: infinite;
}




@keyframes slide {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 100%;
    }
}


@keyframes slide2 {
    from {
        margin-right: 0%;
    }

    to {
        margin-right: 100%;
    }
}

@keyframes resize {
    from {
        width: 10%;
    }

    to {
        width: 100%;
    }
}

@keyframes changeColor {
    from {
        background: red;
    }

    to {
        background: yellow;
    }
}

@keyframes changeColor2 {
    0% {
        background: red;
    }

    33% {
        background: yellow;
    }
    66% {
        background: blue;
    }
    100% {
        background: green;
    }
}


