
#exercise-1 {
    animation: slide 3s;
    animation-delay: 1s;
}


#exercise-2 {
    animation: slide 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#exercise-3 {
    animation: slide 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slide {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 100%;
    }
}